:root{
    --white: #FAFAFA;
    --super-light-gray: #efefefb7;
    --light-gray: #E2E1E1;
    --gray: #CECBCB;
    --purple: #3E0649;
    --purple-hover: #3e0649a9;
    --teal: #44b1a0;
    --teal-hover: #007272af;
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    --border-radius: 4rem;
  }