.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--super-light-gray);
    box-shadow: var(--box-shadow)
}

.title {
    font-family: "Playwrite DE Grund", cursive;
    font-size: 1.8rem;
    color: var(--teal) !important;
}

.loginDiv{
    border: 1px solid red;
}