.button {
    position: fixed;
    top: 6.5rem;
    left: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    z-index: 1000;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--light-gray);
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--purple);
    font-family: "Afacad Flux", sans-serif;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    border: none;
}

.button:hover {
    background-color: var(--purple-hover);
    color: var(--white);
    transform: translateY(-1px);
}


@media (max-width: 768px) {
    .button {
        top: 6rem;
        left: 3rem; 
        font-size: 0.9rem; 
        padding: 0.8rem; 
    }

}