html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  max-height: 100%;
  background-image: url(../assets/axiom-pattern.png);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
