.buttonsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
  height: 80%;
}

.fileInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem 4rem;
  font-size: 1rem;
  margin-bottom: 4rem;
  color: #555;
  background-color: #fff;
  border: 2px dashed #bbb;
  border-radius: 6px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.fileInput:hover {
  border-color: #888;
  background-color: #f1f1f1;
}

.fileInput:focus {
  outline: none;
  border-color: green;
}