.title {
    color: #3E0649;
    text-align: center;
    font-size: 1.7rem;
    padding-bottom: 2rem;
}

.new {
    background-color: var(--white);
    padding: 3rem;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    height: 100%;
    width: 100%;
}