.button {
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    background-color: var(--light-gray);
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--purple);
    font-weight: bold;
    font-family: "Afacad Flux", sans-serif;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.button:hover {
    background-color: var(--purple-hover);
    color: var(--white);
    transform: translateY(-1px);
}