.button{
    font-weight: bold;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background-color: var(--light-gray);
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--purple);
    font-weight: bold;
}

.button:hover {
    background-color: var(--purple-hover);
    color: var(--white);
}
