.card {
    padding: 1.2rem;
    background-color: var(--light-gray);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--purple);
    font-weight: bold;
    display: flex;
    align-items: center;
}

.card:hover {
    background-color: var(--purple-hover);
    color: var(--white);
}

.icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}